* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.fa-magnifying-glass {
  position: absolute;
  top: 30px;
  left: 660px;
  font-size: small;
  color: rgb(158, 154, 154);
}
.nav-link {
  color: black;
}
.navbar-nav {
  position: absolute;
  right: 70px;
  font-size: small;
}
.fa-magnifying-glass {
  position: absolute;
  left: 450px;
  top: 13px;
}
.navbar-brand {
  margin: 20px 10px;
}
.fa-magnifying-glass {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.hero {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  display: flex;
}
.bg-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hello {
  position: absolute;
  top: 65%;
  left: 4%;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;
}
.joy {
  position: absolute;
  top: 60%;
  left: 4%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.learn {
  position: absolute;
  top: 80%;
  left: 4%;
  width: 18%;
  height: 9%;
  background-color: #f5204b;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500px;
}

@media (max-width: 385px) {
  .hello {
    position: absolute;
    top: 65%;
    left: 4%;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: bold;
  }
  .joy {
    position: absolute;
    top: 60%;
    left: 4%;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
  }
  .learn {
    position: absolute;
    top: 73%;
    left: 4%;
    width: 37%;
    height: 9%;
    background-color: #f5204b;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500px;
  }
  .bg-img {
    height: 75%;
    position: relative;
  }
  .hero {
    border: none;
  }
}
